$blue: #29bdc1;

nav{ margin-top: 30px;}


footer{
  background-color: black;
  color: $blue;
  display: block;
  text-align: center;
  margin-top: 300px;
}

.form-div{
  width: 100%;
  margin: auto;

  & button{
    background-color: $blue;
  }
 
}





//Contact Form
.title{
  display: block;
  font-family: sans-serif;
  margin: 10px auto 5px;
  width: 300px;
}
.termsConditions{
  margin: 0 auto 5px 80px;
}

.pageTitle{
  font-size: 2em;
  font-weight: bold;
}
.secondaryTitle{
  color: grey;
}

.name {
  background-color: #ebebeb;
  color: black;
}
.name:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.email {
  background-color: #ebebeb;
  height: 2em;
}

.email:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.phone {
  background-color: #ebebeb;
  height: 2em;
}

.phone:hover {
  border-bottom: 5px solid #0e3721;
  height: 30px;
  width: 380px;
  transition: ease 0.5s;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.message:hover {
  border-bottom: 5px solid #0e3721;
  height: 12em;
  width: 380px;
  transition: ease 0.5s;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
}

.submit {
  width: 200px;
  color: white;
  background-color: $blue;
  font-size: 20px;
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid #0e3750;
  border-radius: 0%;
}

@keyframes bounce {
  0% {
    tranform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }
} 




//MOBILE/PHONE VEIW
.banner-img{

  height: 300px;
  background: url(/src/imgs/banner-img.jpg) no-repeat center;
  background-size: cover;
}

.nav-ul{

  list-style: none;
  display: flex;
  flex-direction: column;  
  background-color: #000000;
  color: #ffffff;
}

.menu-btn{
  margin: 5px;
  color: $blue;
}


.nav-ul li{
  padding: 15px;
  text-decoration: none;
  color: white;
}

.nav-ul li a{
  padding: 10px;
  transition: background-color 1s ease-out 100ms;
  text-decoration: none;
}


.about-div{
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-family:"nunito", sans-serif;
  background-color: $blue;
}

//Responsive card Mobile
.card{
  position:relative;
  padding:42px 32px;
  margin: 5px;
  clip-path: circle(5% at 95% 2%);
  transition: all ease-in-out .3s;
  background-color:#ffffff;
  
  &__infoicon{
    position:absolute;
    
    top:3px;
    right:18px;
    
    font-size:1em;
    color:#000000;
    transition:ease-out .3s;
  }
  &__title{
    margin:0;
    
    font-size: 3em;
    line-height:1.8;
  }
  &__description{
    margin:0;
    
    font-size: 1.1em;
    line-height:1.6;
  }
  &__credits{
    margin:0;
    padding: 4px 0;
    
    font-size: 1.1em;
  }
  &__reference{
    display:inline-block;
    
    border-bottom: 1px solid transparent;
    color: black;
    text-decoration:none;
    transition: ease-in .3s;
    &:hover{
       border-bottom-color: black;
    }
  }
  
  &:hover, &:focus{
    clip-path: circle(75%);
    border-radius:20px;
    box-shadow: 0px 3px 9px rgba(0,0,0,0.12),
                0px 3px 18px rgba(0,0,0,0.08);
    background:#ffffff;
    
    outline:none;
    .card__infoicon{
      opacity: 0;
    }
  }
  &:focus{
    box-shadow: 0px 3px 9px rgba(0,0,0,0.12), 
                0px 3px 18px rgba(0,0,0,0.08), 
                0px 0px 0px 4px rgba(0,0,0,0.2);
  }
}




.header-logo{
  display: block;
  background-color: #000000;
}

ul.hidden {display: none;}

ul li a:hover{
  background-color: $blue;
  width: 100%;
  color: #ffffff;
}

ul li a {
  color:  $blue;
}


.nav-button {
  background-color: #000000;
}
.header-div{

  display: flex;
  flex-direction: column;

  justify-content: space-between;
  font-family: 'Exo 2', sans-serif;

}

.header-div h1{
  font-size: 50px;
  color: $blue;
}


.header-div img{
  width: auto;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: $blue;
  margin: 6px 0;
  transition: 0.4s;
  color: white;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

footer{ 
  bottom: 0;
  margin-top: 10%;
  margin-top: 300px;
}




//DESKTOP

@media only screen and (min-width: 901px){

  .form-div{
    width: 100%;
    margin: auto;
  }  

  .fa-solid{
    display: none;
  }



  
  ul.hidden {display: flex;}
  .menu-btn{
    display: none;
  }

  .header-logo{
    display: flex;
  }
  .nav-ul{
    list-style: none;
    display: flex;
    flex-direction: row;

    
  }

  .nav-ul li{
    padding: 15px;
    width: 100%;
  }



  .header-div{
    display: flex;
    flex-direction: row;
  }



 //Responsive card Desktop
  .about-div{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    text-align: center;
    
    
    font-family:"nunito", sans-serif;
    background-color:$blue;
    width: 100%;
    height: 800px;
  }
  .card{
    position:relative;
    
    padding:42px 32px;
    margin: 30px;
    
    clip-path: circle(15% at 50% 0%);
    transition: all ease-in-out .3s;
    background-color:#ffffff;
    
    &__infoicon{
      position:absolute;
      
      top: 3px;
      right: 251px;
      
      font-size:2em;
      color:#000000;
      transition:ease-out .3s;
    }
    &__title{
      margin:0;
      
      font-size: 3em;
      line-height:1.8;
    }
    &__description{
      margin:0;
      
      font-size: 1.1em;
      line-height:1.6;
    }
    &__credits{
      margin:0;
      padding: 4px 0;
      
      font-size: 1.1em;
    }
    &__reference{
      display:inline-block;
      
      border-bottom: 1px solid transparent;
      color:black;
      text-decoration:none;
      transition: ease-in .3s;
      &:hover{
         border-bottom-color: black;
      }
    }
    
    &:hover, &:focus{
      clip-path: circle(75%);
      border-radius:20px;
      box-shadow: 0px 3px 9px rgba(0,0,0,0.12),
                  0px 3px 18px rgba(0,0,0,0.08);
      background:#ffffff;
      
      outline:none;
      .card__infoicon{
        opacity: 0;
      }
    }
    &:focus{
      box-shadow: 0px 3px 9px rgba(0,0,0,0.12), 
                  0px 3px 18px rgba(0,0,0,0.08), 
                  0px 0px 0px 4px rgba(0,0,0,0.2);
    }
  }


  .header-div img{
    width: 100px;
  }


  .banner-img{

    height: 500px;
    background: url(/src/imgs/banner-img.jpg) no-repeat center;
    background-size: cover;
  }


}


//TABLET VEIW

@media only screen and (min-width: 800px) and (max-width: 900px){

  .form-div{
    width: 90%;
    margin: auto;
  }
  


  ul.hidden {display: flex;}
  .menu-btn{
    display: none;
  }

  footer{
  
    bottom: 0;
    margin-top: 10%;
    margin-top: 300px;
  }

  .header-logo{
    display: flex;    
  }

  .nav-ul{
    list-style: none;
    display: flex;
    flex-direction: row; 
  }


  .header-div{
    display: flex;
    flex-direction: row;
  }


  .header-div img{
    width: auto;
  }

//Responsive Card Tablet
  .about-div{
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    text-align: center;    
    font-family:"nunito", sans-serif;
    background-color:$blue;
  }
  .card{
    position:relative;
    
    padding:42px 32px;
    margin: 10px;
    
    clip-path: circle(5% at 95% 2%);
    transition: all ease-in-out .3s;
    background-color:#ffffff;
    
    &__infoicon{
      position:absolute;
      
      top:10px;
      right:35px;
      
      font-size:1.4em;
      color:#000000;
      transition:ease-out .3s;
    }
    &__title{
      margin:0;
      
      font-size: 3em;
      line-height:1.8;
    }
    &__description{
      margin:0;
      
      font-size: 1.1em;
      line-height:1.6;
    }
    &__credits{
      margin:0;
      padding: 4px 0;
      
      font-size: 1.1em;
    }
    &__reference{
      display:inline-block;
      
      border-bottom: 1px solid transparent;
      color:black;
      text-decoration:none;
      transition: ease-in .3s;
      &:hover{
         border-bottom-color: black;
      }
    }
    
    &:hover, &:focus{
      clip-path: circle(75%);
      border-radius:20px;
      box-shadow: 0px 3px 9px rgba(0,0,0,0.12),
                  0px 3px 18px rgba(0,0,0,0.08);
      background:#ffffff;
      
      outline:none;
      .card__infoicon{
        opacity: 0;
      }
    }
    &:focus{
      box-shadow: 0px 3px 9px rgba(0,0,0,0.12), 
                  0px 3px 18px rgba(0,0,0,0.08), 
                  0px 0px 0px 4px rgba(0,0,0,0.2);
    }
  }


 }